---
image:
    publisher: MicrosoftWindowsDesktop
    offer: Windows-11
    sku: win11-21h2-avd
azure:
    managed_image_resource_group_name: rg-packer-through-cib
    managed_image_storage_account_type: Standard_LRS
    build_location: eastus
    locations:
        - centralus
        - northcentralus
        - southcentralus
        - northeurope
vm:
    size: Standard_F8s_v2
    tags:
        base_image: win11642009azure
        worker_pool_id: win11-64-2009
        sourceOrganisation: mozilla-platform-ops
        sourceRepository: ronin_puppet
        sourceBranch: cloud_windows
        deploymentId: d98e56f
        managed_by: packer
